.body_backgrond{
    background-image: url("Background.jpg");
    background-position: center;
    background-size: cover;
}

body{
    cursor: pointer;
}
#myCanvas{
    border-width: 10px;
    background-color:white;
    border-style: ridge;
}
input{
    margin-right: 20px;
}

#color{
    height: 50;
    width: 300;
}

#width{
    height: 50;
    width: 300;
}

.heading{
    width: 100%;
    margin-top: 0;
    position: sticky;
    box-shadow: 5px 5px 20px blue;
}